<div class="row">
    <div class="col-6">
        <app-dona 
            titulo="Ventas 1"
            [labels]="labels1"
            [data]="data1"
            [colores]="colores1">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona 
        titulo="Ventas 2"
        [labels]="labels2"
        [data]="data2"
        [colores]="colores2">
    </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona 
        titulo="Ventas 3"
        [labels]="labels3"
        [data]="data3"
        [colores]="colores3">
    </app-dona>
    </div>
    <div class="col-6">
        <app-dona 
        titulo="Ventas 4"
        [labels]="labels4"
        [data]="data4"
        [colores]="colores4">
    </app-dona>
    </div>
</div>